@import "tailwindcss";

@theme {
  --color-background-right: #F7FAFF;
  --color-left-blue: #3038BD;
  --color-navy: #070E66;
  --color-selected-green: #4ADF86;
  --color-option-background: #F3F7FF;
  --color-option-border: #D2DCFF;
  --color-card-background: #FFFFFF;
  --color-social-label: #DDE4FC;
}

:root {
  --background-right: #F7FAFF;
  --left-blue: #3038BD;
  --navy: #070E66;
  --selected-green: #4ADF86;
  --option-background: #F3F7FF;
  --option-border: #D2DCFF;
  --card-background: #FFFFFF;
  --social-label: #DDE4FC;
}

html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
}
